
.detail-title {
    padding: 30px 25px;

    div {
        display: flex;
        align-items: center;

        h2 {
            font-size: 1.8rem;
            padding-bottom: 5px;
            padding-right: 15px;
        }

        p {
            font-size: .8rem;
            font-weight: 300;
            margin: 0 20px 0 5px;
        }
    }
}