

.discover-movies {
    position: relative;
    top: clamp(120px, 25vmax, 200px);
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 40% 45%;
    gap: 10%;
    row-gap: 50px;
    max-width: 100%;
    padding: 0 5vw;
    margin-bottom: 600px;

    .discover-movie-item {
        img {
            max-width: 100%;
            border-radius: 16px;
        }
        // p {

        // }
        h3 {
            font-size: 1.2rem;
            span {
                font-weight: 300;
            }
        }
    }
}


@media only screen and (min-width: 992px) {
    .discover-movies {
        grid-template-columns: repeat(3, 30%);
        gap: 5%;
    }
}

@media only screen and (min-width: 1200px) {
    .discover-movies {
        grid-template-columns: repeat(4, 22%);
        gap: 4%;
    }
}