


    

nav {
    position: fixed;
    bottom: 0;
    padding: clamp(30px, 5vmin, 70px);
    width: 100%;

    ul {

        display: flex;
        justify-content: space-around;
        width: 60vmin;
        margin: 0 auto;

        li {
            list-style-type: none;
        }
    }
}
